@use "../../styles/media" as *;
.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 8px;
  list-style-type: none;
  flex-wrap: wrap;
  @include tablet {
    gap: 2rem;
  }
}
