@use "./variables" as *;
.containerPage {
  display: flex;
  flex-direction: column;
  padding-inline: $pInline;
  padding-block-start: 9rem;
  height: 100vh;
}

.title {
  margin-block: 1rem;
}
.content {
  line-height: 1.5rem;
}
