@use "./variables" as *;
@use "./media" as *;

.containerPage {
  display: flex;
  flex-direction: column;
  padding-inline: $pInline;
  padding-block-start: 9rem;
  min-height: 100vh;
  @include mobile {
    padding-inline: $pInlineMobile;
  }
  @include tablet {
    padding-block-start: 6rem;
  }
  @include laptop {
    padding-block-start: 6rem;
  }
  @include desktop {
    padding-block-start: 13rem;
  }
}
.mb {
  margin-block: 1rem;
}
.title {
  @include desktop {
    line-height: 3rem;
    font-size: 3rem;
  }
}
.content {
  line-height: 1.5rem;
  @include desktop {
    line-height: 3rem;
    font-size: 2rem;
  }
}
