@use "./variables" as *;
@use "./media" as *;

.containerPage {
  display: flex;
  flex-direction: column;
  padding-inline: $pInline;
  padding-block-start: 9rem;
  min-height: 100vh;
  @include mobile {
    padding-inline: $pInlineMobile;
  }
  @include tablet {
    padding-block-start: 6rem;
  }
  @include laptop {
    padding-block-start: 6rem;
  }
  @include desktop {
    padding-block-start: 13rem;
  }
}
.mb {
  margin-block: 1rem;
}
.title {
  line-height: 2rem;
  @include desktop {
    line-height: 3rem;
    font-size: 3rem;
  }
}
.content {
  line-height: 1.5rem;
  @include desktop {
    line-height: 3rem;
    font-size: 2rem;
  }
}
.CardLayout {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 250px;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition:
      width 0.7s ease,
      height 0.7s ease,
      box-shadow 0.3s ease;
    @include desktop {
      width: 400px;
      height: 550px;
    }

    &:hover {
      width: 220px;
      height: 270px;
      box-shadow: 1px 5px 20px rgba(255, 254, 254, 0.2);

      @include desktop {
        width: 420px;
        height: 570px;
      }
    }

    .image {
      width: auto;
      height: auto;
      @include desktop {
        width: auto;
        height: 400px;
      }
    }
    .fullSize {
      width: inherit;
      height: auto;
    }
  }
}
.containerList {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 8px;
  list-style-type: none;
  flex-wrap: wrap;
  @include tablet {
    gap: 2rem;
  }
}
