$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$mobile: 576px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$macBook16: 1480px;
$desktop: 2560px;

$pInline: 3rem;
$pInlineMobile: 1.5rem;
$textDesktopHeader: 2.3rem;
$textLaptopLHeader: 1.4rem;
$textLaptopMacBook16Header: 1.2rem;

$textTabletHeader: 0.9rem;
