@use "../../styles/media" as *;

.productImagePriceSizeContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  @include tablet {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  @include mobile {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .productImage {
    width: auto;
    height: auto;
    object-fit: cover;

    @include desktop {
      width: auto;
      height: 800px;
      object-fit: cover;
    }
    @include mobileL {
      width: 100%;
      height: auto;
    }
    @include mobileM {
      width: 100%;
      height: auto;
    }
    @include mobileS {
      width: 100%;
      height: auto;
    }
  }
  .productInfo {
    display: flex;
    margin-top: 1rem;

    .productPrice {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .productSize {
      display: flex;

      .sizeItem {
        display: flex;
        align-items: center;
        padding-block: 1rem;
        padding-inline: 1rem;
        gap: 1rem;
        border: 1px solid #ccccccb9;
        border-radius: 0.5rem;
        cursor: pointer;
        &:hover {
          border: 1px solid #ccccccec;
        }
        @include desktop {
          border-radius: 1rem;
          border: 2px solid #ccccccb9;
          padding-block: 2rem;
          padding-inline: 3rem;
          &:hover {
            border: 2px solid #ccccccec;
          }
        }
        @include laptop {
          border-radius: 0.7rem;
          border: 1px solid #ccccccb9;
          padding-block: 0.8rem;
          padding-inline: 1rem;
          &:hover {
            border: 1px solid #ccccccec;
          }
        }
        .sizeLabel {
          font-size: 14px;
          color: #666;
        }
        .sizeValue {
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}
.productDetails {
  @include tablet {
    margin-top: 2rem;
  }
  @include mobile {
    margin-top: 2rem;
  }
}
