@use "../../styles/media" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 250px;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  transition:
    width 0.7s ease,
    height 0.7s ease,
    box-shadow 0.3s ease;
  @include desktop {
    width: 400px;
    height: 550px;
  }

  &:hover {
    width: 220px;
    height: 270px;
    box-shadow: 1px 5px 20px rgba(255, 254, 254, 0.2);

    @include desktop {
      width: 420px;
      height: 570px;
    }
    .title {
      color: #ffffff9b;
    }
  }
  .title {
    text-align: center;
    @include mobile {
      line-height: 1.5rem;
      font-size: 1rem;
    }
    @include tablet {
      line-height: 1.5rem;
      font-size: 1rem;
    }
    @include laptop {
      line-height: 2rem;
      font-size: 1.3rem;
    }
    @include laptopL {
      line-height: 2rem;
    }
    @include desktop {
      line-height: 4rem;
      font-size: 1.5rem;
    }
  }
  .image {
    width: auto;
    height: auto;
    @include laptop {
      width: 100px;
      height: auto;
    }
    @include desktop {
      width: 400px;
      height: auto;
      max-height: 550px;
    }
  }
  .fullSize {
    width: inherit;
    height: auto;
    @include mobile {
      width: 150px;
      height: auto;
    }
    @include tablet {
      width: 150px;
      height: auto;
    }
    @include laptop {
      width: 100px;
      height: auto;
    }
    @include laptopL {
      width: auto;
      height: auto;
    }
  }
}
