@use "../../styles/index" as *;
.container {
  display: flex;
  padding-inline: $pInline;
  padding-block: 1rem;
  @include mobile {
    padding-inline: $pInlineMobile;
  }
  .nav {
    height: 130px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
