@use "../../styles/index" as *;
@use "../../styles/components" as *;
@use "../../styles/media" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: $pInline;
  padding-block: 1rem;
  @include mobile {
    padding-inline: $pInlineMobile;
    padding-block-start: 4rem;
  }
  @include tablet {
    padding-block-start: 4rem;
  }
  @include laptop {
    padding-block-start: 4rem;
  }
  @include laptopL {
    padding-block-start: 4rem;
  }
  @include desktop {
    padding-block-start: 13rem;
  }

  .content {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    @include mobile {
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      align-items: initial;
      text-align: center;
      justify-content: space-evenly;
      gap: 2rem;
    }
    .workHours {
      @include laptopL {
        font-size: $textLaptopLHeader;
        line-height: 2rem;
      }
      @include tablet {
        font-size: $textTabletHeader;
      }
      ul {
        list-style-type: none;

        @include desktop {
          font-size: $textDesktopHeader;
        }
        @include laptopL {
          font-size: $textLaptopLHeader;
        }
        @include tablet {
          font-size: $textTabletHeader;
        }
      }
    }
  }
  .nav {
    height: 130px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;

    @include desktop {
      height: 200px;
      font-size: $textDesktopHeader;
    }
    @include laptopL {
      font-size: $textLaptopLHeader;
    }
    @include tablet {
      font-size: $textTabletHeader;
    }
  }
  .copy {
    margin-top: 1rem;
    @include laptopL {
      font-size: $textLaptopLHeader;
    }
    @include desktop {
      font-size: $textDesktopHeader;
    }
    @include tablet {
      font-size: $textTabletHeader;
    }
  }
  @include link;
}
