@use "../../styles/index" as *;
@use "../../styles/components" as *;
@use "../../styles/media" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: $pInline;
  padding-block: 1rem;
  @include mobile {
    padding-inline: $pInlineMobile;
    padding-block-start: 4rem;
  }
  @include tablet {
    padding-block-start: 4rem;
  }
  @include laptop {
    padding-block-start: 4rem;
  }
  @include laptopL {
    padding-block-start: 4rem;
  }
  @include desktop {
    padding-block-start: 13rem;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    @include mobile {
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-evenly;
      gap: 2rem;
    }
    .workHours {
      ul {
        list-style-type: none;
      }
    }
  }
  .nav {
    height: 130px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;

    @include desktop {
      height: 200px;
    }
  }
  .copy {
    margin-top: 1rem;
  }
  @include link;
}
